<div class="container text-center">
    <h2 class="lang-eng section-heading">Gallery</h2>
    <h2 class="lang-cat hidden section-heading">Galeria</h2>
    <hr class="light">
    <div class="">
        <div class="row text-center">
            <div class="lang-eng">
                <a style="color: #fff;" href="https://photos.app.goo.gl/G3YwytSn2pe5cL278"><i class="fa fa-images fa-4x"></i><br>
                    Click here to see some pictures of us!
                </a>
            </div>
            <div style="color: #fff;" class="col-lg-12 col-md-12 lang-cat hidden">
                <a style="color: #fff" href="https://photos.app.goo.gl/G3YwytSn2pe5cL278"><i class="fa fa-images fa-4x"></i><br>
                Cliqueu aquí per veure algunes imatges nostres!
                </a>
            </div>
        </div>
    </div>
</div>
