<div class="container">
    <div class="row">
        <h2 class="section-heading text-center">Accomodations</h2>
        <hr class="text-center light">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <h3>Vacation Rental By Owners</h3>
            <p>
                Chicago has many accommodation options and we invite you to consider alternatives to a traditional hotel if you wish. If using Airbnb, HomeAway or similar services, we highly recommend staying in Lakeview or Lincoln Park as these neighborhoods are safe, convenient and not far from our celebration locations! If you’re hoping to see a lot of the tourist attractions in Chicago you might consider staying downtown for part of your stay. See our custom map above for highlights on what to visit and do while in Chicago!
            </p>
            <p class="lead">
            <a href="https://www.airbnb.com/s/Chicago--IL--United-States/homes?refinement_paths%5B%5D=%2Fhomes&query=Chicago%2C%20IL%2C%20United%20States&map_toggle=true&checkin=2019-05-17&checkout=2019-05-19&ne_lat=41.93053389377134&ne_lng=-87.6165242900022&sw_lat=41.8868168333787&sw_lng=-87.65858159811499&zoom=14&search_by_map=true&allow_override%5B%5D=&s_tag=kxFiy36V"><i class="fa fa-home"></i> Search at Airbnb</a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.homeaway.com/results/keywords:chicago/minSleeps/2/arrival:2019-05-17/departure:2019-05-19/@41.85927315163619,-87.68329947348633,41.96045096712717,-87.59180395957031,13z/page:1?searchTermContext=b482dadd-a24b-4101-b6a5-7ab0756ebee8"><i class="fa fa-home"></i> Search at Homeaway</a>
            </p>
            <h3>Versey Hotel</h3>
            <p>
                For our guests’ convenience we have blocked a set of rooms at Hotel Versey - a modest but centrally located space with great access to public transit, shopping, and dining. 
                Use the link below to reserve a room & receive the special rate. Please note breakfast is not offered at the hotel & parking is an additional charge.
            </p>
            <p class="lead">
            <a href=""><!--https://www.wyndhamhotels.com/days-inn/chicago-illinois/hotel-versey-days-inn-chicago/rooms-rates?brand_id=DI&hotel_id=06906&checkin_date=05/17/2019&checkout_date=05/19/2019&group_code=CGFIGU--><i class="fa fa-hotel"></i> Book here!</a>
            </p>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12">
            <h3>Hotels.com / Expedia</h3>
            <p>
            Click on the link below and use the coupon for each website for a 10% discount.<br>
            &nbsp;&nbsp;&nbsp;Hotels.com: <kbd>FNFQ118:AF5JU5</kbd><br>
            &nbsp;&nbsp;&nbsp;Expedia: <kbd>FRIENDSFORJULY</kbd><br>
            <span class="small">(let us know if the code shows as expired or already used and we'll update it)</span>
            <p class="lead">
            <a href="https://www.hotels.com/?rffrid=eml.hcom.UK.300.00.2018.07.11.src00.00.00.0000.0000.00.0000.DD00.kwrd=MER.AQ.TYU.eml.0.0.ff_booknow"><i class="fa fa-hotel"></i> Search at Hotels.com</a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.expedia.com/Hotel-Search?destination=Chicago%2C+Illinois&latLong=41.88078%2C-87.62813&regionId=178248&startDate=05%2F17%2F2019&endDate=05%2F19%2F2019&rooms=1&adults=2"><i class="fa fa-hotel"></i> Search at Expedia</a>
            </p>
        </div>
    </div>
</div>

