<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="lang-eng section-heading">Welcome!</h2>
            <h2 class="lang-cat hidden section-heading">Benvinguts!</h2>
            <hr class="light">
            <p class="lang-eng">
                For the ones that couldn't come to our wedding, we're bringing our wedding to you! You're invited to lunch and enjoy yourselves!
            </p>
            <p class="lang-cat hidden">
                Pels que no vau poder anar al casament, us portem el casament a casa vostra! Esteu convidats a dinar i a passar-vos-ho bé!
            </p>
            <br>
        </div>          
    </div>
</div>

