<div class="lang-cat hidden">
    <div class="row">
        <div class="col-lg-12">
            <h3>Transport</h3>
            <div>
				Recomanem fer servir la CTA com més millor, la Blue Line és la millor forma d'arribar a la ciutat des de l'aeroport i el sistema de busos i metros és la forma més barata i ràpida de navegar la ciutat. Pots <a href="https://www.ventrachicago.com/start/metra/createaccount/">crear un compte</a> amb antel·lació ja que comprar la targeta a la estació costa $5, que seran reemborsats quan la registreu online. Hi ha abonaments de 1, 3 i 7 dies amb transport il·limitat entre bus i metro.<br><br>
                <a href="https://www.lyft.com/app">Lyft</a> o <a href="https://auth.uber.com/login/?uber_client_name=riderSignUp">Uber</a> també són bones opcions per navegar la ciutat. Intenteu compartir viatges amb altre gent per minimitzar el cost i evitar augments de preu per alta demanda.
            </div>
        </div>
        <div class="col-lg-12">
            <h3 onclick="showChicagoSection('tourist');" class="chicago-hideshow chicago-tourist-original">
                Atraccions Turístiques &nbsp;<i class="fa fa-angle-right"></i>
            </h3>
            <h3 onclick="hideChicagoSection('tourist');" class="chicago-hideshow chicago-tourist hidden">
                Atraccions Turístiques <i class="fa fa-angle-down"></i>
            </h3>
            <table class="table table-striped chicago-tourist hidden">
                <tr>
                    <th class="">La Monjeta (Cloud Gate)</th>
                    <td>
                        Essencial, està al centre, a Millenium Park. Aquesta escultura de principis de segle reflecteix els rascacels de Chicago des del seu bell centre. Està just al costat de la Crown Fountain (de Jaume Plensa) i el pabelló Jay Pritzker que són recomanacions per visitar també. Mira la construcció <a href="https://imgur.com/a/4Bz8B">aquí</a>

                    </td>
                </tr>
                <tr>
                    <th>Willis Tower Skydeck (alias, Sears Tower)</th>
                    <td>
                        Les millors vistes de la ciutat, però tenen un cost. Cues llargues i alts preus que potser no les fan valer la pena. A dalt de tot hi ha unes finestres que sobresurten de l'edifici perquè puguis "caminar a sobre l'aire" però totes les altres coses són una trampa turística. Vegeu la "Signature Lounge" a la Hancock Tower aquí baix per altres vistes similars amb un estil menys turístic.
                    </td>
                </tr>
                <tr>
                    <th>Tour d'Arquitectura en vaixell</th>
                    <td>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-star"></i>
                                <a href="https://www.architecture.org/experience-caf/tours/detail/chicago-architecture-foundation-river-cruise-aboard-chicagos-first-lady-cruises/">Chicago Architecture Foundation (CAF) Tour ($44)</a><br>
                                Aquest tour és el millor ja que els guíes són voluntaris que estimen l'arquitectura. El tour només està disponible en anglès.
                            </li>
                            <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>
                                <a href="https://www.wendellaboats.com/Boat-Tours/Chicago-River-Architecture-Tour">Wendella Architecture Tour ($39)</a>
                            </li>
                            <li><i class="fa-li fa fa-circle"></i>
                                <a href="https://shorelinesightseeing.com/tours-taxis/architecture-tour/">Shoreline Architecture Tour ($37-$43)</a><br>
                                Ambdós Wendella i Shoreline tenen tours que inclouen auto-guies en multiples llengües. Malgrat el contingut no sigui tant personalitzat com l'anterior, els horaris són més oberts.
                            </li>
                            <li><i class="fa-li fa fa-info-circle"></i>
                                Eviteu els tours sobre el llac, són una mica més barat però molt menys interessants.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Chicago Riverwalk</th>
                    <td>
                        Aquest recentment renovat passeig a la vora del riu va per tota la branca nord del riu. A l'estar situat per sota del nivells dels carrers dóna una experiència molt especial per veure la ciutat des d'un altre punt de vista.
                    </td>
                </tr>
                <tr>
                    <th>Navy Pier</th>
                    <td>
                        Només l'hem posat aquí ja que el trobareu a totes les guies. És super turístic i cursi, evitar a qualsevol preu.
                    </td>
                </tr>
                <tr>
                    <th>Tour en bici per costat del llac</th>
                    <td>
                        La Lakefront Trail és una impressionant ruta de bicicleta que va des del nord al sud de Chicago entre la ciutat i el llac. Aconseguiu una bicicleta (hi ha diversos llocs de lloguer de bicicletes al costat de Navy Pier) i ves fins al nord fins a Castaways (un bar en forma de vaixell) o a la platja de Montrose i ves fins al sud al planetari Adler (cal sortir de la ruta al costat de l'aquari Shedd i anar pel carrer fins al plenetari). L'Adler té les millors vistes de la ciutat, altament recomenable i és encara més impressionant de nit.
                    </td>
                </tr>
                <tr>
                    <th>The Second City</th>
                    <td>
                        Un dels mes icònics teatres d'improvització dels EUA, ha creat el llançament de moltes <a href="https://en.wikipedia.org/wiki/List_of_alumni_of_the_Second_City">carreres d'humoristes.</a> Amb els seus multiples escenaris, sempre trobaràs alguna cosa interessant i divertida per veure.
                    </td>
                </tr>
                <tr>
                    <th>Cultural Center</th>
                    <td>
                        Una de les joies ocultes del Loop. El Cultural Center és un espai d'entrada gratuita amb exposicions temporals. L'edifici és arquitecturalment significant i té el cúpula de vidre de Tiffany més gran del món.
                    </td>
                </tr>
            </table>
            <hr class="primary chicago-tourist hidden">
        </div>
    </div>
    <!-- SECTION MUSEUMS -->
    <div class="row">
        <div class="col-lg-12">
            <h3 onclick="showChicagoSection('museums');" class="chicago-hideshow chicago-museums-original">
                Museus &nbsp;<i class="fa fa-angle-right"></i>
            </h3>
            <h3 onclick="hideChicagoSection('museums');" class="chicago-hideshow chicago-museums hidden">
                Museus <i class="fa fa-angle-down"></i>
            </h3>
            <table class="table table-striped chicago-museums hidden">
                <tr>
                    <th>The Art Institute of Chicago</th>
                    <td>
                        One of the most impressive Art Museums in the world and the central location within the loop makes it very easy to get to and spend your day around world-famous pieces of art. You can see American classics: <a href="https://en.wikipedia.org/wiki/Nighthawks">Nighthawks</a> or <a href="https://en.wikipedia.org/wiki/American_Gothic">American Gothic</a>, the pointillist masterpiece <a href="https://en.wikipedia.org/wiki/A_Sunday_Afternoon_on_the_Island_of_La_Grande_Jatte">A Sunday Afternoon on the Island of La Grande Jatte</a>, Renoir's <a href="https://en.wikipedia.org/wiki/Paris_Street;_Rainy_Day">Paris Street; Rainy Day</a>, or two of Van Gogh's pieces  <a href="https://en.wikipedia.org/wiki/Bedroom_in_Arles">Bedroom in Arles</a> and <a href="https://en.wikipedia.org/wiki/File:VanGogh_1887_Selbstbildnis.jpg">Self Portrait</a>. 
                        General admission is $25, see more <a href="http://www.artic.edu/">here</a>
                    </td>
                </tr>
                <tr>
                    <th>Museum of Science and Industry</th>
                    <td>
                        This museum will cover all your needs for technology and science in Chicago. Even though far apart from downtown, <a href="https://www.msichicago.org/visit/getting-here/">getting there</a> will also let you visit University of Chicago's beautiful campus. From down below, with their Nazi Captured <a href="https://en.wikipedia.org/wiki/German_submarine_U-505">U-Boat</a> submarine to the first manned spacecraft to orbit the Moon, the <a href="https://en.wikipedia.org/wiki/Apollo_8">Apollo 8</a>, the MSI has lots of technology pieces and science experiments to play with. Don't forget to participate in building your own customized toy with the ToyMaker 3000 assembly line. 
                        General admission is $22, see more <a href="https://www.msichicago.org/visit/">here</a>  
                    </td>
                </tr>
                <tr>
                    <th>The Field Museum</th>
                    <td>
                        This Natural Science museum is one of the most impressive of the world. Visit its mascot <a href="https://en.wikipedia.org/wiki/Sue_(dinosaur)">Sue</a>, the most complete Tyrannosaurus rex speciment ever found, or go investigate the three story replica of the tomb of Unis-Ankh. You can never be wrong visiting the vast halls of the Ancient Americas, Geology or the ever-lasting Animal dioramas of all sorts.
                        General Admission is $24, see more <a href="https://www.fieldmuseum.org/visit">here</a>
                    </td>
                </tr>
                <tr>
                    <th>Lincoln Park Zoo</th>
                    <td>
                        This zoo in Chicago doesn't boast to be world-renowed, but it's location and characteristics make it a very compelling visit. Located in the Lincoln Park neighborhood (this might ring a bell because it's the same neighborhood we're getting married ;) ), it is a stone throw away from the lake and with its free admission welcomes everyone to stroll by and visit its diverse animal species within it.
                        See more <a href="https://www.lpzoo.org/">here</a>
                    </td>
                </tr>
                <tr>
                    <th>Shedd Aquarium</th>
                    <td>
                        Located close to the Field Museum, in the Museum Campus area, and next to the Michigan Lake the Shedd brings the ocean waters to the city. It has exhibits spanning from the Amazon and Caribbean reefs to an Oceanarium with belugas, sea lions and penguins. Its closeness to other museums makes it a nice stop-by for a museum-filled day.
                        General admission is $39.95, see more <a href="https://www.sheddaquarium.org/plan-a-visit/Advance-Ticket-Options-Tickets/">here</a>
                    </td>
                </tr>
                <tr>
                    <th>Adler Planetarium</th>
                    <td>
                        The third in the Museum Campus trifecta, the Adler shows a view of what's up there in the sky, while also showing one of the prettiest views of the <a href="https://upload.wikimedia.org/wikipedia/commons/8/8d/2010-02-19_16500x2000_chicago_skyline_panorama.jpg">Chicago Skyline</a>. You can learn all about space and the celestial bodies, enjoy some of their shows in their domed theaters, explore one of the first <a href="https://upload.wikimedia.org/wikipedia/commons/9/90/Adler_fg07.jpg">planetariums</a> or see a piece that has gone and back from space, the <a href="https://upload.wikimedia.org/wikipedia/commons/5/5a/Gemini_12_spacecraft_at_the_Adler_Planetarium.jpg">Gemini 12 spacecraft</a>.
                        General admission is $24.95, see more <a href="https://www.adlerplanetarium.org/ticketing-options/">here</a>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>Frank Lloyd Wright Home and Studio</th>
                    <td>
                        Frank Lloyd Wright was an architect and interior designer best known for the organic style of his praire houses. This museum is located in his first home and studio, and will bring you around the historic district that holds the greatest number of Wright-designed homes anywhere.
                        Interior guided tour is $18 and neighorhood tour is $15 (self-guided) or $60 (guided), see more <a href="http://cal.flwright.org/tours/homeandstudio">here</a>
                    <td>
                    </td>
                </tr>
            </table>
            <hr class="primary chicago-museums hidden">
        </div>
    </div>
    <!-- SECTION FOOD -->
    <div class="row">
        <div class="col-lg-12">
            <h3 onclick="showChicagoSection('food');" class="chicago-hideshow chicago-food-original">
                Menjar &nbsp;<i class="fa fa-angle-right"></i>
            </h3>
            <h3 onclick="hideChicagoSection('food');" class="chicago-hideshow chicago-food hidden">
                Menjar <i class="fa fa-angle-down"></i>
            </h3>
            <table class="table table-striped chicago-food hidden">
                <tr>
                    <th>Deep Dish Pizza</th>
                    <td>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-star"></i>
                                Pequod's<br>
                                Arguably the best deep dish in Chicago although it's not in the most touristy-reachable areas of the city. (gets extra points because it's a couple of blocks from our place!)
                            </li>
                            <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>
                                Lou Malnati's<br>
                                Solid deep dish (they say their buttercrust is the best) with plenty of locations aroud the city
                            </li>
                            <li><i class="fa-li fa fa-circle"></i>
                                Gino's East<br>
								Their pizza is up on the top within Chicago and their downtown location has its own brewery.
                            </li>
                            <li><i class="fa-li fa fa-times"></i>
                                Giordanos<br>
                                Makes very good looking pizza but it's lacking in flavor compared to the other ones. It's the most advertised in turisty areas. Only go if in a pinch.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Chicago-Style Hot Dog</th>
                    <td>
						The <a href="https://en.wikipedia.org/wiki/Chicago-style_hot_dog">Chicago-style hot dog</a> is a special and very revered delicacy of the city. It's served many places around the city but these are some notable places:
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-star"></i>
                                Portillo's<br>
                                The restaurant downtown has a cool Chicago ambiance and they also serve the next item in the list
                            </li>
                            <li><i class="fa-li fa fa-star"></i>
                                Hot"G"Dog<br>
                               	This restaurant is a little ways from everything else, but it's the spiritual successor of <a href="https://en.wikipedia.org/wiki/Hot_Doug%27s">"Hot Dougs"</a>, one of better known hot dogs stands in the world with an impressive cult following. Try the Foie Gras Hot Dog or the Duck Fat fries, for extra tastiness
                            </li>
                            <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>
                                Any place with a "Vienna Beef" sign<br>
								Hot dogs are plentiful and tasty in all the Chicago area, just be sure to not put ketchup on it to pass as a true Chicagoan.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Italian Beef</th>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/Italian_beef">Italian beef</a> is an original Chicago sandwich made with thin-sliced seasoned roast beef, simmered in thin gravy and served on an italian roll. You can get the bread "splashed" or "dipped" into the juice as well. Add giardinera (hot peppers), for more Chicago trueness.
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-star"></i>
                                Portillo's<br>
                                The restaurant downtown has a cool Chicago ambiance and they also serve the previous item in the list
                            </li>
                            <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>
                                Al's Beef<br>
                                One of the best known in the city which also means that it's a fast food shop. Prepare for delicious greasiness.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Burgers (thick patties)</th>
                    <td>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-circle"></i>
                                Kuma's Corner / Kuma's Too<br>
                                Fancy ingredients in a low-key restaurant, the burgers are gigantic and delicious.
                            </li>
                            <li><i class="fa-li fa fa-circle"></i>
                                The Bad Apple<br>
                                Arguably better than Kuma's, but also harder to get to. 
                            </li>
                            <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>
                                Grange Hall Burger Bar<br>
                                Set on the Randolph Street food corridor, Grange hall has great burgers with beer pairings that bring creativeness to the menu.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Burgers (thin patties)</th>
                    <td>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-star"></i>
                                Au Cheval<br>
                                Chosen as the best burger in the world in 2015, it still holds true to its taste. The restaurant has a huge line every day so it's better to go off-hours to beat the crowd. Another option is just below.
                            </li>
                            <li><i class="fa-li fa fa-star"></i>
                                Small Cheval<br>
                                Au Cheval's burger is so impressive, that a new set of restaurants was born of <em>just</em> serving that burger. There's a couple of them around the city and most provide a patio to delight on the burger with a drink. Their garlic aioli with their golden fries is fantastic.
                            </li>
                            <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>
                                Billy Goat Tavern<br>
                                With the inconspicuous location (literally, under Michigan Ave) and their <a href="https://en.wikipedia.org/wiki/Curse_of_the_Billy_Goat">long local sports history</a>, this location has very low-key simple burgers for a quick stop-by.
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <hr class="primary chicago-food hidden">
        </div>
    </div>
    <!-- SECTION DRINKS -->
    <div class="row">
        <div class="col-lg-12">
            <h3 onclick="showChicagoSection('drinks');" class="chicago-hideshow chicago-drinks-original">
                Beure &nbsp;<i class="fa fa-angle-right"></i>
            </h3>
            <h3 onclick="hideChicagoSection('drinks');" class="chicago-hideshow chicago-drinks hidden">
                Beure <i class="fa fa-angle-down"></i>
            </h3>
            <table class="table table-striped chicago-drinks hidden">
                <tr>
                    <th>The Signature Lounge at the 96th</th>
                    <td>
                        It’s on the top floor in the Hancock Center, even higher than the paid observatory. Go there way before sundown, there’s going to be a line if it’s Friday/Saturday. Grab a table ideally looking over the West or South and milk that $17 cocktail for 2 hours. It’s SO worth it. Best views are in the women’s bathroom. Bring a camera, everyone does.
                    </td>
                </tr>
                <tr>
                    <th>Kingston Mines</th>
                    <td>
                        One of the oldest Blues bars in Chicago, they have 2 bands daily, each  on its own stage and they switch hourly, be prepared to bring your drink along as you switch places!
                    </td>
                </tr>
                <tr>
                    <th>Cindy's Rooftop</th>
                    <td>
                        In the heart of the loop, overlooking Millenium Park, Cindy's is one of the best ways to experience a Chicago rooftop. They take no reservations and the lines can be long, but the views and craft cocktails are worth it.
                    </td>
                </tr>
                <tr>
                    <th>Revolution Brewing</th>
                    <td>
                        One of the most known and esteemed Chicago breweries has a brewpub in Logan Square. Their beer selection is superb and their food is fantastic.
                    </td>
                </tr>
                <tr>
                    <th>Arcade Bars</th>
                    <td>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-circle"></i>
                                Beercade Headquarters<br>
                                Inventive cocktails, a good selection of beers, and all the arcade machines are set on free play. 
                            </li>
                            <li><i class="fa-li fa fa-circle"></i>
                                Emporium Arcade<br>
                                There's a couple of locations in the city, they have better selection of games than headquarters but you need to acquire tokens to play them. 
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <hr class="primary chicago-drinks hidden">
        </div>
    </div>
    <!-- SECTION OTHERS -->
    <div class="row">
        <div class="col-lg-12">
            <h3 onclick="showChicagoSection('others');" class="chicago-hideshow chicago-others-original">
                Altres &nbsp;<i class="fa fa-angle-right"></i>
            </h3>
            <h3 onclick="hideChicagoSection('others');" class="chicago-hideshow chicago-others hidden">
                Altres <i class="fa fa-angle-down"></i>
            </h3>
            <table class="table table-striped chicago-others hidden">
                <tr>
                    <th>The Neo-Futurists</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>Improvised Sheakspeare</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>Something cool</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>Something cooler than the one above</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>It's okay if this is not as cool as the two above</th>
                    <td>
                    </td>
                </tr>
            </table>
            <hr class="primary chicago-others hidden">
        </div>
    </div>
</div>
