<div class="lang-eng">
    <div class="row">
        <div class="col-lg-12">
            <h3 onclick="showChicagoSection('tourist');" class="chicago-hideshow chicago-tourist-original">
                Tourist Attractions &nbsp;<i class="fa fa-angle-right"></i>
            </h3>
            <h3 onclick="hideChicagoSection('tourist');" class="chicago-hideshow chicago-tourist hidden">
                Tourist Attractions <i class="fa fa-angle-down"></i>
            </h3>
            <table class="table table-striped chicago-tourist hidden">
                <tr>
                    <th class="">The Bean (Cloud Gate)</th>
                    <td>
                        Must see, it’s downtown in Millennium Park. This sculpture from the beginning of this century reflects Chicago’s skyline from the heart of Millenium Park. It’s right next to Crown Fountain and The Jay Pritzker Pavillion which are also nice sights. See it being built <a href=”https://imgur.com/a/4Bz8B”>here</a>

                    </td>
                </tr>
                <tr>
                    <th>Willis Tower Skydeck (aka, Sears Tower)</th>
                    <td>
                        Best views of the city but they come at a cost. Long lines and high prices might not be worth them. They have protruding windows so you can "walk on air" but everything else looks (and is) a tourist trap. See "The Signature Lounge" on the Hancock Tower below for something similar that's more low key.
                    </td>
                </tr>
                <tr>
                    <th>Architecture Boat Tour</th>
                    <td>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-star"></i>
                                <a href="https://www.architecture.org/experience-caf/tours/detail/chicago-architecture-foundation-river-cruise-aboard-chicagos-first-lady-cruises/">Chicago Architecture Foundation (CAF) Tour ($44)</a><br>
                                This is arguably the better of them as it’s volunteers that love architecture that explain the city. It doesn’t run as late/early months as the others but it’s the recommended one
                            </li>
                            <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>
                                <a href="https://www.wendellaboats.com/Boat-Tours/Chicago-River-Architecture-Tour">Wendella Architecture Tour ($39)</a><br>
                                Both Wendella and Shoreline do Tours that include multi-lingual headphones but are arguably not as good as the ones from the CAF.
                            </li>
                            <li><i class="fa-li fa fa-circle"></i>
                                <a href="https://shorelinesightseeing.com/tours-taxis/architecture-tour/">Shoreline Architecture Tour ($37-$43)</a>
                            </li>
                            <li><i class="fa-li fa fa-info-circle"></i>
                                Do not take a "Lake Tour", they are slightly cheaper but substantially less interesting
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Chicago Riverwalk</th>
                    <td>
                        This newly renovated Chicago river feature goes along the north branch of the river from the Lake to the canal junction. Its situation lower than the streets make it a different experience as you get to see the city from a different point of view.
                    </td>
                </tr>
                <tr>
                    <th>Navy Pier</th>
                    <td>
                        It's just here because you'll find it in most travel guides. It's super touristy and cheesy, avoid it at all costs.
                    </td>
                </tr>
                <tr>
                    <th>Bike Tour along the Lakeshore</th>
                    <td>
                        The Lakefront Trail that is an extremely nice bike path that goes all the way north and south from Chicago between the city and the lake. Get a bike (there are several bike rental places next to Navy Pier) and go up to Castaways or Montrose beach and down to Adler Planetarium (you have to get off the trail next to Shedd Aquarium and get on the street to get to Adler). Adler planetarium has the best views of the skyline, highly recommended to go there, and it gets way better at night time.
                    </td>
                </tr>
                <tr>
                    <th>The Second City</th>
                    <td>
                        One of the most iconic improv theaters in the US, it has kickstarted <a href="https://en.wikipedia.org/wiki/List_of_alumni_of_the_Second_City">tons of humorists careers.</a> With its multiple stages, you'll always find something interesting and funny to watch there. 
                    </td>
                </tr>
                <tr>
                    <th>Cultural Center</th>
                    <td>
                        One of the hidden gems within the loop, the Cultural Center is a free admission space with rotating exhibitions. The building itself is beatiful and holds the largest Tiffany glass dome in the world.
                    </td>
                </tr>
            </table>
            <hr class="primary chicago-tourist hidden">
        </div>
    </div>
    <!-- SECTION MUSEUMS -->
    <div class="row">
        <div class="col-lg-12">
            <h3 onclick="showChicagoSection('museums');" class="chicago-hideshow chicago-museums-original">
                Museums &nbsp;<i class="fa fa-angle-right"></i>
            </h3>
            <h3 onclick="hideChicagoSection('museums');" class="chicago-hideshow chicago-museums hidden">
                Museums <i class="fa fa-angle-down"></i>
            </h3>
            <table class="table table-striped chicago-museums hidden">
                <tr>
                    <th>The Art Institute of Chicago</th>
                    <td>
                        One of the most impressive Art Museums in the world and the central location within the loop makes it very easy to get to and spend your day around world-famous pieces of art. You can see American classics: <a href="https://en.wikipedia.org/wiki/Nighthawks">Nighthawks</a> or <a href="https://en.wikipedia.org/wiki/American_Gothic">American Gothic</a>, the pointillist masterpiece <a href="https://en.wikipedia.org/wiki/A_Sunday_Afternoon_on_the_Island_of_La_Grande_Jatte">A Sunday Afternoon on the Island of La Grande Jatte</a>, Renoir's <a href="https://en.wikipedia.org/wiki/Paris_Street;_Rainy_Day">Paris Street; Rainy Day</a>, or two of Van Gogh's pieces  <a href="https://en.wikipedia.org/wiki/Bedroom_in_Arles">Bedroom in Arles</a> and <a href="https://en.wikipedia.org/wiki/File:VanGogh_1887_Selbstbildnis.jpg">Self Portrait</a>. 
                        General admission is $25, see more <a href="http://www.artic.edu/">here</a>
                    </td>
                </tr>
                <tr>
                    <th>Museum of Science and Industry</th>
                    <td>
                        This museum will cover all your needs for technology and science in Chicago. Even though far apart from downtown, <a href="https://www.msichicago.org/visit/getting-here/">getting there</a> will also let you visit University of Chicago's beautiful campus. From down below, with their Nazi Captured <a href="https://en.wikipedia.org/wiki/German_submarine_U-505">U-Boat</a> submarine to the first manned spacecraft to orbit the Moon, the <a href="https://en.wikipedia.org/wiki/Apollo_8">Apollo 8</a>, the MSI has lots of technology pieces and science experiments to play with. Don't forget to participate in building your own customized toy with the ToyMaker 3000 assembly line. 
                        General admission is $22, see more <a href="https://www.msichicago.org/visit/">here</a>  
                    </td>
                </tr>
                <tr>
                    <th>The Field Museum</th>
                    <td>
                        This Natural Science museum is one of the most impressive of the world. Visit its mascot <a href="https://en.wikipedia.org/wiki/Sue_(dinosaur)">Sue</a>, the most complete Tyrannosaurus rex speciment ever found, or go investigate the three story replica of the tomb of Unis-Ankh. You can never be wrong visiting the vast halls of the Ancient Americas, Geology or the ever-lasting Animal dioramas of all sorts.
                        General Admission is $24, see more <a href="https://www.fieldmuseum.org/visit">here</a>
                    </td>
                </tr>
                <tr>
                    <th>Lincoln Park Zoo</th>
                    <td>
                        This zoo in Chicago doesn't boast to be world-renowed, but it's location and characteristics make it a very compelling visit. Located in the Lincoln Park neighborhood (this might ring a bell because it's the same neighborhood we're getting married ;) ), it is a stone throw away from the lake and with its free admission welcomes everyone to stroll by and visit its diverse animal species within it.
                        See more <a href="https://www.lpzoo.org/">here</a>
                    </td>
                </tr>
                <tr>
                    <th>Shedd Aquarium</th>
                    <td>
                        Located close to the Field Museum, in the Museum Campus area, and next to the Michigan Lake the Shedd brings the ocean waters to the city. It has exhibits spanning from the Amazon and Caribbean reefs to an Oceanarium with belugas, sea lions and penguins. Its closeness to other museums makes it a nice stop-by for a museum-filled day.
                        General admission is $39.95, see more <a href="https://www.sheddaquarium.org/plan-a-visit/Advance-Ticket-Options-Tickets/">here</a>
                    </td>
                </tr>
                <tr>
                    <th>Adler Planetarium</th>
                    <td>
                        The third in the Museum Campus trifecta, the Adler shows a view of what's up there in the sky, while also showing one of the prettiest views of the <a href="https://upload.wikimedia.org/wikipedia/commons/8/8d/2010-02-19_16500x2000_chicago_skyline_panorama.jpg">Chicago Skyline</a>. You can learn all about space and the celestial bodies, enjoy some of their shows in their domed theaters, explore one of the first <a href="https://upload.wikimedia.org/wikipedia/commons/9/90/Adler_fg07.jpg">planetariums</a> or see a piece that has gone and back from space, the <a href="https://upload.wikimedia.org/wikipedia/commons/5/5a/Gemini_12_spacecraft_at_the_Adler_Planetarium.jpg">Gemini 12 spacecraft</a>.
                        General admission is $24.95, see more <a href="https://www.adlerplanetarium.org/ticketing-options/">here</a>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>Frank Lloyd Wright Home and Studio</th>
                    <td>
                    <td>
                    </td>
                </tr>
            </table>
            <hr class="primary chicago-museums hidden">
        </div>
    </div>
    <!-- SECTION FOOD -->
    <div class="row">
        <div class="col-lg-12">
            <h3 onclick="showChicagoSection('food');" class="chicago-hideshow chicago-food-original">
                Food &nbsp;<i class="fa fa-angle-right"></i>
            </h3>
            <h3 onclick="hideChicagoSection('food');" class="chicago-hideshow chicago-food hidden">
                Food <i class="fa fa-angle-down"></i>
            </h3>
            <table class="table table-striped chicago-food hidden">
                <tr>
                    <th>Deep Dish Pizza</th>
                    <td>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-star"></i>
                                Pequod's<br>
                                Arguably the best deep dish in Chicago although it's not in the most touristy-reachable areas of the city. (gets extra points because it's a couple of blocks from our place!)
                            </li>
                            <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>
                                Lou Malnati's<br>
                                Solid deep dish (they say their buttercrust is the best) with plenty of locations aroud the city
                            </li>
                            <li><i class="fa-li fa fa-circle"></i>
                                Gino's East<br>
								Their pizza is up on the top within Chicago and their downtown location has its own brewery.
                            </li>
                            <li><i class="fa-li fa fa-times-circle"></i>
                                Giordanos<br>
                                Makes very good looking pizza but it's lacking in flavor compared to the other ones. It's the most advertised in turisty areas. Only go if in a pinch.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Chicago-Style Hot Dog</th>
                    <td>
						The <a href="https://en.wikipedia.org/wiki/Chicago-style_hot_dog">Chicago-style hot dog</a> is a special and very revered delicacy of the city. It's served many places around the city but these are some notable places:
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-star"></i>
                                Portillo's<br>
                                The restaurant downtown has a cool Chicago ambiance and they also serve the next item in the list
                            </li>
                            <li><i class="fa-li fa fa-star"></i>
                                Hot"G"Dog<br>
                               	This restaurant is a little ways from everything else, but it's the spiritual successor of <a href="https://en.wikipedia.org/wiki/Hot_Doug%27s">"Hot Dougs"</a>, one of better known hot dogs stands in the world with an impressive cult following. Try the Foie Gras Hot Dog or the Duck Fat fries, for extra tastiness
                            </li>
                            <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>
                                Any place with a "Vienna Beef" sign<br>
								Hot dogs are plentiful and tasty in all the Chicago area, just be sure to not put ketchup on it to pass as a true Chicagoan.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Italian Beef</th>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/Italian_beef">Italian beef</a> is an original Chicago sandwich made with thin-sliced seasoned roast beef, simmered in thin gravy and served on an italian roll. You can get the bread "splashed" or "dipped" into the juice as well. Add giardinera (hot peppers), for more Chicago trueness.
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-star"></i>
                                Portillo's<br>
                                The restaurant downtown has a cool Chicago ambiance and they also serve the previous item in the list
                            </li>
                            <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>
                                Al's Beef<br>
                                One of the best known in the city which also means that it's a fast food shop. Prepare for delicious greasiness.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Burgers (thick patties)</th>
                    <td>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-circle"></i>
                                Kuma's Corner / Kuma's Too<br>
                                Fancy ingredients in a low-key restaurant, the burgers are gigantic and delicious.
                            </li>
                            <li><i class="fa-li fa fa-circle"></i>
                                The Bad Apple<br>
                                Arguably better than Kuma's, but also harder to get to. 
                            </li>
                            <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>
                                Grange Hall Burger Bar<br>
                                Set on the Randolph Street food corridor, Grange hall has great burgers with beer pairings that bring creativeness to the menu.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Burgers (thin patties)</th>
                    <td>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-star"></i>
                                Au Cheval<br>
                                Chosen as the best burger in the world in 2015, it still holds true to its taste. The restaurant has a huge line every day so it's better to go off-hours to beat the crowd. Another option is just below.
                            </li>
                            <li><i class="fa-li fa fa-star"></i>
                                Small Cheval<br>
                                Au Cheval's burger is so impressive, that a new set of restaurants was born of <em>just</em> serving that burger. There's a couple of them around the city and most provide a patio to delight on the burger with a drink. Their garlic aioli with their golden fries is fantastic.
                            </li>
                            <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>
                                Billy Goat Tavern<br>
                                With the inconspicuous location (literally, under Michigan Ave) and their <a href="https://en.wikipedia.org/wiki/Curse_of_the_Billy_Goat">long local sports history</a>, this location has very low-key simple burgers for a quick stop-by.
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <hr class="primary chicago-food hidden">
        </div>
    </div>
    <!-- SECTION DRINKS -->
    <div class="row">
        <div class="col-lg-12">
            <h3 onclick="showChicagoSection('drinks');" class="chicago-hideshow chicago-drinks-original">
                Drinks &nbsp;<i class="fa fa-angle-right"></i>
            </h3>
            <h3 onclick="hideChicagoSection('drinks');" class="chicago-hideshow chicago-drinks hidden">
                Drinks <i class="fa fa-angle-down"></i>
            </h3>
            <table class="table table-striped chicago-drinks hidden">
                <tr>
                    <th>The Signature Lounge at the 96th</th>
                    <td>
                        It’s on the top floor in the Hancock Center, even higher than the paid observatory. Go there way before sundown, there’s going to be a line if it’s Friday/Saturday. Grab a table ideally looking over the West or South and milk that $17 cocktail for 2 hours. It’s SO worth it. Best views are in the women’s bathroom. Bring a camera, everyone does.
                    </td>
                </tr>
                <tr>
                    <th>Kingston Mines</th>
                    <td>
                        One of the oldest Blues bars in Chicago, they have 2 bands daily, each  on its own stage and they switch hourly, be prepared to bring your drink along as you switch places!
                    </td>
                </tr>
                <tr>
                    <th>Cindy's Rooftop</th>
                    <td>
                        In the heart of the loop, overlooking Millenium Park, Cindy's is one of the best ways to experience a Chicago rooftop. They take no reservations and the lines can be long, but the views and craft cocktails are worth it.
                    </td>
                </tr>
                <tr>
                    <th>Revolution Brewing</th>
                    <td>
                        One of the most known and esteemed Chicago breweries has a brewpub in Logan Square. Their beer selection is superb and their food is fantastic.
                    </td>
                </tr>
                <tr>
                    <th>Arcade Bars</th>
                    <td>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-circle"></i>
                                Beercade Headquarters<br>
                                Inventive cocktails, a good selection of beers, and all the arcade machines are set on free play. 
                            </li>
                            <li><i class="fa-li fa fa-circle"></i>
                                Emporium Arcade<br>
                                There's a couple of locations in the city, they have better selection of games than headquarters but you need to acquire tokens to play them. 
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <hr class="primary chicago-drinks hidden">
        </div>
    </div>
    <!-- SECTION OTHERS -->
    <div class="row">
        <div class="col-lg-12">
            <h3 onclick="showChicagoSection('others');" class="chicago-hideshow chicago-others-original">
                Others &nbsp;<i class="fa fa-angle-right"></i>
            </h3>
            <h3 onclick="hideChicagoSection('others');" class="chicago-hideshow chicago-others hidden">
                Others <i class="fa fa-angle-down"></i>
            </h3>
            <table class="table table-striped chicago-others hidden">
                <tr>
                    <th>The Neo-Futurists</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>Improvised Sheakspeare</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>Something cool</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>Something cooler than the one above</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>It's okay if this is not as cool as the two above</th>
                    <td>
                    </td>
                </tr>
            </table>
            <hr class="primary chicago-others hidden">
        </div>
    </div>
</div>
