<div class="container">
    <h2 class="section-heading text-center">DANK Haus</h2>
    <hr class="light">
    <div class="row">
        <div class="col-lg-12 lang-eng">
            <h3>A bit about DANK Haus</h3>
            <p>
            The Deutsch Amerikanischer National Kongress (DANK) or “German American National Congress” is a non-profit dedicated to promoting German-American culture. Located in Chicago’s charming Lincoln Square neighborhood, DANK offers classes, programs & community events which celebrate German heritage. This historic building was designed by architect Paul Gehardt & built in 1927. Our reception will be on the 5th floor in the lovely Marunde Ballroom. 
            </p>
            <p>
            While neither Christine nor Carles have any ties to Germany, we are happy to celebrate our union in this elegant space with its multicultural flair & “old world” charm! 
            </p>
        </div>


        <div class="col-lg-12 lang-cat hidden">
            <h3>Una mica sobre DANK Haus</h3>
            <p>
                La Deutsh Deutsch Amerikanischer National Kongress (DANK) o "Congress Nacional Americo-Alemany" es una ONG dedicada a promocionar cultura Americana-Alemanya. Situada a l'encantador barri de Lincoln Square, DANK ofereix classes, programes i esdeveniments comunitaris que celebren el patrimoni alemany. Aquest edifici històric va ser dissenyat per l'arquitecte Paul Gerhardt i construït el 1927. La nostra recepció serà a la 5a planta a la preciosa sala Marunde.
            </p>
            <p>
                Si bé ni la Christine ni en Carles tenen cap vincle amb Alemanya, estem contents de celebrar la nostra unió en aquest elegant espai amb el seu estil multiculural i l'encant del "vell món".
            </p>
        </div>
    </div>
    <!-- <hr class="primary"> -->
    <div class="row">
        <div class="col-lg-8 lang-eng">
            <h3>Getting There</h3>
            <dl class="getting-there dl-horizontal">
                <dt>Public Transit</dt>
                <dd style="padding-bottom: 1em;">
                The CTA 'L' Fullerton stop is a short walk from St. Clement (head south on Orchard & then west on Fullerton). Take the brown line towards Kimball & get off at Western. The Dank Haus is just steps away - you may even be able to see the German & American flags from the train platform!

					<a class="small" href="https://www.google.com/maps/dir/St.+Clement+Church,+West+Deming+Place,+Chicago,+IL/DANK+Haus+German+American+Cultural+Center,+North+Western+Avenue,+Chicago,+IL/@41.9470755,-87.6832415,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x880fd30f021ca50d:0x552dbf225482d72f!2m2!1d-87.6461313!2d41.9280626!1m5!1m1!1s0x880fd2051f2aa291:0xd61fdeab34590d9!2m2!1d-87.6892351!2d41.9680355!3e3">details</a>
                </dd>
				<dt>Driving</dt>
				<dd>
                    Head north on Orchard St. & take the first left onto Wrightwood Ave. In about ½ mile (just after passing the train tracks) take a slight right onto Lincoln Ave. Stay on Lincoln for about 3 miles, following as it curves left & intersects with Western Ave. Take a right on Western (you will pass the Dank Haus), then take the first left onto Lawrence Ave & look for the MB Bank parking lot.
					<a class="small" href="https://goo.gl/maps/Ecifyv3uojP2">details</a>
				</dd>
					
        </div>

        <div class="col-lg-8 lang-cat hidden">
            <h3>Getting There</h3>
                <dl class="getting-there dl-horizontal">
                <dt>Transport Públic</dt>
                <dd style="padding-bottom: 1em;">
                    La parada de Fullerton és a poca distància caminant de St. Clement (2 illes de cases al sud fins a Fullerton i unes poques cap a l'oest). Agafeu la Brown Line (Línia marró) cap a Kimball i baixeu a Western. La DANK Haus està just allà, una illa de cases cap al nord. Fins i tot podreu veure les banderes americanes i alemanyes des de l'andana de l'estació!
					<a class="small" href="https://www.google.com/maps/dir/St.+Clement+Church,+West+Deming+Place,+Chicago,+IL/DANK+Haus+German+American+Cultural+Center,+North+Western+Avenue,+Chicago,+IL/@41.9470755,-87.6832415,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x880fd30f021ca50d:0x552dbf225482d72f!2m2!1d-87.6461313!2d41.9280626!1m5!1m1!1s0x880fd2051f2aa291:0xd61fdeab34590d9!2m2!1d-87.6892351!2d41.9680355!3e3">detalls</a>
                </dd>
				<dt>En cotxe</dt>
				<dd>
                    Pàrking està disponible just al nord, al bank MB Financial (entrar via avinguda Lawrence).
					<a class="small" href="https://goo.gl/maps/Ecifyv3uojP2">detalls</a>
				</dd>
					
        </div>
        <div class="col-lg-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2966.501586072162!2d-87.69142378471251!3d41.96803946776023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd2051f2aa291%3A0xd61fdeab34590d9!2sDANK+Haus+German+American+Cultural+Center!5e0!3m2!1sen!2sus!4v1527893512850" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
