<section id="event" class="bg-info">
    <div class="container">
        <div class="row">
            <!-- START ENGLISH -->
            <div class="col-lg-12 lang-eng">
                <h2 class="section-heading text-center">Overview</h2>
                <hr class="primary">
                <h2 class="text-center">
                    Saturday May 18, 2019
                </h2>
                <h3 class="text-center">
                    Carles Figuerola <br class="small-br"><i class="far fa-heart"></i><br class="small-br"> Christine Dobies
                </h3><br>
                <dl class="dl-horizontal lead">
                <dt>Ceremony - 3pm</dt>
                <dd>
                    St. Clement Church<br>
                    <a href="https://goo.gl/maps/9JkadMXZBGU2">642 W Deming Pl, Chicago, IL 60614</a><br>
                    <small><a href="#st-clement" class="page-scroll">more information</a></small>
                </dd>
                <dt>Reception - 4:30pm</dt>
                <dd>
                    DANK Haus<br>
                    <a href="https://goo.gl/maps/tPsdFCEMhnN2">4740 N Western Ave, Chicago, IL 60625</a><br>
                    <small><a href="#dank-haus" class="page-scroll">more information</a></small>
                </dd>
                <dt>Transit</dt>
		        <dd>Limited parking is available at both sites. The church and ballroom are about 5 miles apart - 20 min by car or 30 min by train</dd>
                </dl>
            </div>
            <!-- END ENGLISH -->
            <!-- START CATALAN --> 
            <div class="col-lg-12 lang-cat hidden">
                <h2 class="section-heading text-center">Resum</h2>
                <hr class="primary">
                <h2 class="text-center">
                    Dissabte 18 de Maig del 2019
                </h2>
                <h3 class="text-center">
                    Carles Figuerola <br class="small-br"><i class="far fa-heart"></i><br class="small-br"> Christine Dobies
                </h3><br>
                <dl class="dl-horizontal lead">
                <dt>Ceremònia - 15h</dt>
                <dd>
                    St. Clement Church<br>
                    <a href="https://goo.gl/maps/9JkadMXZBGU2">642 W Deming Pl, Chicago, IL 60614</a><br>
                    <small><a href="#st-clement" class="page-scroll">Més informació</a></small>
                </dd>
                <dt>Recepció - 16:30</dt>
                <dd>
                    DANK Haus<br>
                    <a href="https://goo.gl/maps/tPsdFCEMhnN2">4740 N Western Ave, Chicago, IL 60625</a><br>
                    <small><a href="#dank-haus" class="page-scroll">Més informació</a></small>
                </dd>
                <dt>Trànsit</dt>
		        <dd>Pàrking és limitat als dos llocs. L'Església i la sala d'events són a uns 7 km l'un a l'altre - 20 min amb cotxe/taxi o 30 min via transport públic.</dd>
                </dl>
            </div>
                <!-- END CATALAN --> 
        </div>
    </div>
</section>
