<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Come celebrate our marriage</dd>
                    <dt>When</dt>
                    <dd>Saturday, May 18, at 3:00 pm</dd>
                    <dt>Ceremony</dt>
                    <dd>
                        <address>
                            Saint Clement<br>
                            <a href="https://goo.gl/maps/9JkadMXZBGU2">642 W Deming Pl, Chicago, IL 60614</a><br>
                        </address>
                    </dd>
                    <dt>Reception</dt>
                    <dd>
                        <address>
                            DANK Haus German American Culture Center<br>
                            <a href="https://goo.gl/maps/tPsdFCEMhnN2">4740 N Western Ave, Chicago, IL 60625</a><br>
			    Phone: +1 (773) 561-9181
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail
                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available around the corner at <a href="https://goo.gl/maps/fT2Hkr1jwD82">MB Bank</a>.
                    <dt>Afterwards</dt>
                    <dd>
                        TBD
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
