<section id="event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Overview</h2>
                <hr class="primary">
                <!-- ENGLISH -->
                <h2 class="text-center">
                    Saturday May 18, 2019
                </h2><br>

                <dl class="lang-eng dl-horizontal lead">
                <dt>Ceremony</dt>
                <dd>
                    St. Clement Church ~ 3pm <br>
                    <a href="https://goo.gl/maps/9JkadMXZBGU2">642 W Deming Pl, Chicago, IL 60614</a><br>
                    <small><a href="#st-clement" class="page-scroll">more information</a></small>
                </dd>
                <dt>Reception</dt>
                <dd>
                    DANK Haus ~ 4:30pm<br>
                    <a href="https://goo.gl/maps/tPsdFCEMhnN2">4740 N Western Ave, Chicago, IL 60625</a><br>
                    <small><a href="#dank-haus" class="page-scroll">more information</a></small>
                </dd>
                <dt>Transit</dt>
		        <dd>Limited parking is available at both sites. The church and ballroom are approximately 5 miles apart - 20 min driving or 30 min by train</dd>
                </dl>
                <!-- CATALAN --> 
                <dl class="lang-cat hidden dl-horizontal lead">
                    <dt>Què</dt>
                    <dd>Veniu a celebrar el nostre matrimoni</dd>
                    <dt>On</dt>
                    <dd>Dissabte, 18 de Maig a les 15h</dd>
                    <dt>Ceremònia</dt>
                    <dd>
                        <address>
                            Saint Clement<br>
                            <a href="https://goo.gl/maps/9JkadMXZBGU2">642 W Deming Pl, Chicago, IL 60614</a><br>
                        </address>
                    </dd>
                    <dt>Recepció</dt>
                    <dd>
                        <address>
                            DANK Haus German American Culture Center<br>
                            <a href="https://goo.gl/maps/tPsdFCEMhnN2">4740 N Western Ave, Chicago, IL 60625</a><br>
			    Phone: +1 (773) 561-9181
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail
                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available around the corner at <a href="https://goo.gl/maps/fT2Hkr1jwD82">MB Bank</a>.
                    <dt>Afterwards</dt>
                    <dd>
                        TBD
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
