<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center lang-eng"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfzYClfmlxJIiqBQXpBCWsoGgz0gLLhjTove1r0HxGbBgEHgA/viewform?hl=en"><i class="fa fa-4x fa-file-text"></i></a></div>
            <div class="text-center lang-cat hidden"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfzYClfmlxJIiqBQXpBCWsoGgz0gLLhjTove1r0HxGbBgEHgA/viewform?hl=ca"><i class="fa fa-4x fa-file-text"></i></a></div>
            <br>
            <p class="section-heading lang-eng text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfzYClfmlxJIiqBQXpBCWsoGgz0gLLhjTove1r0HxGbBgEHgA/viewform?hl=en">RSVP Here</a>
            </p>
            <p class="section-heading lang-cat hidden text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfzYClfmlxJIiqBQXpBCWsoGgz0gLLhjTove1r0HxGbBgEHgA/viewform?hl=ca">RSVP Aqui</a>
            </p>
            <hr class="light">
        </div>
    </div>
</div>
