<!--<header id="second-header" class="secondary"></header>-->
<!--<h5 class="text-center text-muted">The arrangement of the stars on the day of the eclipse.</h5>-->
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center lang-eng">The Proposal</h2>
            <h2 class="section-heading text-center lang-cat hidden">El proposament</h2>
            <hr class="primary">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img class="img-responsive" src="/static/bigday/images/proposal.jpg">
                    </div>
                    <div class="col-lg-8 col-md-8 lang-eng">
                        <p>
                        Knowing how much Christine likes plants, Carles planned an “impromptu” trip to the Garfield Park conservatory. It was a cold Saturday in February, and the pair had been downtown for a friend’s goodbye brunch when Carles suggested visiting the conservatory “since it’s pretty closeby”. Christine gladly agreed & suspected nothing as they admired the ferns & flowers inside. While walking through the conservatory, Carles may have used more Catalan words & phrases than usual, but Christine barely noticed; assuming this was because she’d recently been studying her beginner’s Catalan book. 
                        </p>
                        <p>
                        After some time they paused for a photo by a flowering tree & sat down on the benches beneath it. Carles inquired if Christine was ready for a little “Catalan quiz” & asked her to translate two phrases. The first one was spoken very quickly & left her a bit confused: “Cards verds taquen; secs punxen” “Something green, something, six”? She guessed. He explained it was a plant-themed tongue twister: thistle stains when it’s green & pricks when it’s dry. The second phrase was spoken very warmly [or lovingly] & left no confusion at all: “Et vols casar amb mi?” (Will you marry me?) Simultaneously shocked & overjoyed at the words and the beautiful ring in his hand - Christine immediately blurted back: “Of course!!!” as she hopped up to hug her now fiancé <3
                        </p>
                    </div>
                    <div class="col-lg-8 col-md-8 lang-cat hidden">
                        <p>
                            Sabent com li agraden a la Christine les plantes, en Carles va preparar una sortida improvisada a l’hivernacle de Garfield Park. Era un dissabte fred de febrer, la parella era pel centre per un dinar de despedida d’una amiga. En Carles va proposar a la Christine visitar un hivernacle que els hi venia de camí. A la Christine li va agradar la idea. Ella no tenia cap sospita de que en Carles ho tenia tot prevíst. Van anar passejant per l’hivernacle admirant les falgueres i les flors. En Carles potser deia més paraules en català que de costum, però la Christine no va notar res  extrany, assumint que era per practicar el català que vol anar aprenent.
                        </p>
                        <p>
                            Van parar a fer-se una foto al costat d’un arbre florit i es van asseure en un banc sota l’arbre. En Carles va preguntar a la Christine si estava preparada per un examen de català que consistia en traduir dues frases. La primera la va dir molt ràpid i la va deixar bastant confusa: cards verds taquen; secs punxen. “Algo verd… algo, sis”? va mirar d’endevinar. Ell li va explicar que era un embarbussament relacionat amb plantes. La segona frase la va dir amb molta cura i amb un anell a la mà sense deixar cap tipus de dubte: “Et vols casar amb mi?”. Sorpresa però emocionada la Christine immediatament va contestar “Of Course!!!” (és clar!!!). Amb una abraçada i un petó van sellar el seu camí com a promesos.
                        </p>
                        <p>
                            Estem molt contents de poder continuar la nostra vida junts i de compartir la celebració del nostre casament juntament amb tots vosaltres!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
