<!--<header id="second-header" class="secondary"></header>-->
<!--<h5 class="text-center text-muted">The arrangement of the stars on the day of the eclipse.</h5>-->
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img class="img-responsive" src="/static/bigday/images/proposal.jpg">
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <p>
                        Knowing how much Christine likes plants, Carles planned an “impromptu” trip to the Garfield Park conservatory. It was a cold Saturday in February, and the pair had been downtown for a friend’s goodbye brunch when Carles suggested visiting the conservatory “since it’s pretty closeby”. Christine gladly agreed & suspected nothing as they admired the ferns & flowers inside. While walking through the conservatory, Carles may have used more Catalan words & phrases than usual, but Christine barely noticed; assuming this was because she’d recently been studying her beginner’s Catalan book. 
                        </p>
                        <p>
                        After some time they paused for a photo by a flowering tree & sat down on the benches beneath it. Carles inquired if Christine was ready for a little “Catalan quiz” & asked her to translate two phrases. The first one was spoken very quickly & left her a bit confused: “Cards verds taquen; secs punxen” “Something green, something, six”? She guessed. He explained it was a plant-themed tongue twister: thistle stains when it’s green & pricks when it’s dry. The second phrase was spoken very warmly [or lovingly] & left no confusion at all: “Et vols casar amb mi?” (Will you marry me?) Simultaneously shocked & overjoyed at the words and the beautiful ring in his hand - Christine immediately blurted back: “Of course!!!” as she hopped up to hug her now fiancé <3
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
