{% load staticfiles %}
<div class="container text-center">
    <div class="row">
        <div>
        <h2 class="lang-eng section-heading text-center">Registry</h2>
        <h2 class="hidden lang-cat section-heading text-center">Registre</h2>
        <hr class="light">
        <p class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fas fa-gift fa-4x" ></i> &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fas fa-plane fa-4x" ></i> &nbsp;&nbsp;&nbsp;&nbsp;
        <!--<br class="small-br">-->
        <i class="fas fa-globe-americas fa-4x" ></i> &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fas fa-suitcase fa-4x" ></i> &nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        </div>

        <div class="lang-eng col-lg-8 col-lg-offset-2">
            <p>
                Material goods are fleeting - experiences are remembered much longer! We invite you to consider foregoing a traditional gift & instead contributing to our “honeyfund”.
            </p>
            <br />
            <div class="lang-eng col-lg-6 col-lg-offset-3 text-center">
                <div class="lang-eng col-lg-3 col-lg-offset-2">
                    <i class="fab fa-vimeo-v fa-2x"></i>
                        <span class="small">Venmo</span>
                </div>
                <div class="lang-eng col-lg-2">
                    <br />
                </div>
                <div class="lang-eng col-lg-3">
                    <a href="#"><i class="fab fa-amazon fa-2x"></i>
                    <span class="small">Registry</span></a>
                </div>
            </div>
        </div>

        <div class="hidden lang-cat col-lg-8 col-lg-offset-2">
            <p>
                Els béns materials són fogaços - les experiències es recorden molt més! 
            </p>
            <div class="col-lg-6 col-lg-offset-3 text-center">
               Compte: ES80 XXXX XXXX XXXX XXXX XXXX
            </div>
            <br /><br />
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <div class="col-lg-3 col-lg-offset-2">
                    <i class="fab fa-vimeo-v fa-2x"></i>
                        <span class="small">Venmo</span>
                </div>
                <div class="col-lg-2">
                    <br />
                </div>
                <div class="col-lg-3">
                    <a href="#"><i class="fab fa-amazon fa-2x"></i>
                    <span class="small">Registre</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
