<div class="container">
    <h2 class="section-heading text-center">St. Clement</h2>
    <hr class="primary">
    <div class="row">


        <div class="col-lg-12 lang-eng">
            <h3>Church history</h3>
            <p>
                St. Clement Roman Catholic Church was constructed in 1918 by architect Thomas P. Barnett. A romanesque building rich in Byzantine artwork, it takes inspiration from several notable sacred structures - including <em>Hagia Sophia</em> in Istanbul, the <em>Basilica di San Clemente al Laterano</em> in Rome, and especially the Cathedral Basilica of St. Louis.
            </p>
            <p>
                Like the Cathedral Basilica of St. Louis, St. Clement was conceived of as a blend of eastern and western styles - one hallmark of the Byzantine Romanesque style. It houses an impressive collection of mosaic artwork, and its decor follows the canons of Byzantine art - placing symbols of the heavens and divinity in the highest sections, images of saints and sacraments in the transitional middle areas, and images of creation on the lower level. 
            </p>
            <p>
                We invite you to read more <a href="http://www.jacksongalloway.com/news/2016/7/26/east-meets-west-st-clement-catholic-church">here</a> or <a href="http://clement.org/about/art-architecture">here</a>
            </p>
        </div>


        <div class="col-lg-12 lang-cat hidden">
            <h3>Història de l'església</h3>
            <p>
                L'Ésglesia Catòlica Romana St. Clement va ser construida al 1918 per l'arquitecte Thomas P. Barnett. Un edifici Romànic ric en obres d'art bizantines, s'inspira en diverses estructures sagrades notables, com ara la <em>Hagia Sophia</em> d'Istanbul, la <em>Basilica di San Clemente al Laterano</em> a Roma i especialment la Catedral Basílica de St. Louis (Missouri).
            </p>
            <p>
                Així com la Catedral Basílica de St. Louis, St. Clement va ser concebida com una barreja d'estils orientals i occidentals. - un segell distintiu de l'estic romànic bizantí. Alberga una impressionant col·lecció de mosaics, i la seva decoració segueix els canons de l'art bizantí: col·loca símbols del cel i divinitat a les seccions més altes, imatges de satns i sagraments a les zones intermitges de transició i imatges de creació als nivells inferiors.
            </p>
            <p>
                 Us invitem a llegir mes <a href="http://www.jacksongalloway.com/news/2016/7/26/east-meets-west-st-clement-catholic-church">aquí</a> o <a href="http://clement.org/about/art-architecture">aquí</a>
            </p>
        </div>
    </div>
    <!-- <hr class="primary"> -->
    <h3 class="lang-eng">Getting There</h3>
    <h3 class="lang-cat hidden">Per arribar-hi</h3>
    <div class="row">
        <div class="col-lg-8 lang-eng">
                <dl class="getting-there dl-horizontal">
                <dt>Public Transit</dt>
                <dd style="padding-bottom: 1em;">
					St. Clement is just a short walk away from the Fullerton CTA 'L' Station. Walk east to Orchard St and then north a couple blocks. <br>
					The 22 Clark or 8 Halsted bus lines have stops at either side of the church that will leave you within a 2-block walk.
                </dd>
                <dt>Driving</dt>
                <dd>
                    There is a parking lot just in front of the church, on the south side of Deming Pl. Note it is common at St. Clement to park down the middle of the parking lot once all the marked spots have been taken.<br> 
					The parking lot must be cleared after our ceremony!
                </dd>
        </div>

        <!-- CATALA -->
        <div class="col-lg-8 lang-cat hidden">
                <dl class="getting-there dl-horizontal">
                <dt>Transport Públic</dt>
                <dd style="padding-bottom: 1em;">
                    St. Clement és a poca distancia caminant de l'estació del CTA 'L' Fullerton. Camina cap a l'est fins al carrer Orchard i després en direcció nord un parell de illes de cases.
                    Els autobusos 22 Clark o 8 Halsted tenen parades a ambdós costats de l'església i et deixaran a 2 illes de cases.
                </dd>
                <dt>En cotxe</dt>
                <dd>
                    Hi ha un aparcament al davant de l'església, a la banda sud del carrer Deming. Nota: és bastant comú a St. Clement aparcar entremig dels altres cotxes quan les places normals estan plenes.<br>
                    L'aparcament ha de quedar buit quan acabi la cerimònia!
                </dd>
        </div>
        <div class="col-lg-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.362255834465!2d-87.64831998471372!3d41.92806657026503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd30f021ca50d%3A0x552dbf225482d72f!2sSaint+Clement+Catholic+Church!5e0!3m2!1sen!2sus!4v1527893346154" width="100%" height="300" frameborder="0" style="border:0" scrolling="no" allowfullscreen></iframe>
        </div>
    </div>
</div>
