<div class="container">
    <h2 class="section-heading text-center">St. Clement</h2>
    <hr class="primary">
    <div class="row">
        <div class="col-lg-12">
            <h3>Church history</h3>
            <p>
                St. Clement Roman Catholic Church was constructed in 1918 by architect Thomas P. Barnett. A romanesque building rich in Byzantine artwork, it takes inspiration from several notable sacred structures - including Hagia Sophia in Istanbul, the Basilica di San Clemente al Laterano in Rome, and especially the Cathedral Basilica of St. Louis.
            </p>
            <p>
                Like the Cathedral Basilica of St. Louis, St. Clement was conceived as a blend of eastern and western styles one hallmark of the Byzantine Romanesque style. The church houses a beautiful and impressive collection of mosaic artwork, and its decor follows the canons of Byzantine art - placing symbols of the heavens and divinity in the highest sections, images of saints and sacraments in the transitional middle areas, and images of creation on the lower level.
                
                We invite you to read more <a href="http://www.jacksongalloway.com/news/2016/7/26/east-meets-west-st-clement-catholic-church">here</a> or <a href="http://clement.org/about/art-architecture">here</a>
            </p>
        </div>
    </div>
    <hr class="primary">
    <h3>Getting There</h3>
    <div class="row">
        <div class="col-lg-8">
            <p>Directions</p>
			<p>Parking lot acommodates about 40 cars</p>
        </div>
        <div class="col-lg-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.362255834465!2d-87.64831998471372!3d41.92806657026503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd30f021ca50d%3A0x552dbf225482d72f!2sSaint+Clement+Catholic+Church!5e0!3m2!1sen!2sus!4v1527893346154" width="100%" height="300" frameborder="0" style="border:0" scrolling="no" allowfullscreen></iframe>
            <!--<iframe width="100%" height="300" src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=642%20W%20Deming%20Pl%2C%20Chicago%2C%20IL%2060614+(St.%20Clement%20Church)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>-->
        </div>
    </div>
</div>
