<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                Many wonderful people (& one serendipitous evening!) led Christine & Carles to each other. In April 2016 each were (separately) invited to a fundraiser for the Light & Leadership Initiative. While sipping drinks & browsing silent auction items, they enjoyed chatting with the friends they already knew & learning more about the charity’s high-impact work in Peru...completely unaware that a “future-special-someone” was in the room. As the event wound down (they’d exchanged neither a glance or a word at this point) an afterparty was mentioned, and a friendly & boisterous crowd (of mostly Catalans) asked Christine & her friend to come along.
            </p>
            <p>
                Buoyed up by “welcome shots” & fun music, Christine & Carles began to chat – while in the background his friends ensured that the new girl stayed smiling & engaged in conversation. As the night got later the pair exchanged numbers & determined to keep their conversation – and the natural spark of attraction – going.
            </p>
            <p>
                As spring gave way to summer, the two like-minded souls continued to get to know each other: bonding over bike-rides, beach-days, dinner-dates and many espresso-fueled conversations! Carles introduced Christine to rock-climbing & Catalan culture; while Christine showed Carles Chicago’s nature conservatories & the wonder of Millennium Park concerts. In time they became inseparable, deepening their trust & confidence in each other, and growing together in their commitment to each other.
            </p>
        </div>
    </div>
</div>
