<div class="container">
    <div class="row">
        <div class="col-lg-12 lang-eng">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="light">
            <p>
                Many wonderful people (& one serendipitous evening!) led Carles & Christine to each other. In April 2016 each were (separately) invited to a fundraiser for the Light & Leadership Initiative. While sipping drinks & browsing silent auction items, they enjoyed chatting with the friends they already knew & learning more about the charity’s high-impact work in Peru...completely unaware that a “future-special-someone” was in the room. As the event wound down (they’d exchanged neither a glance or a word at this point) an afterparty was mentioned, and a friendly & boisterous crowd (of mostly Catalans) asked Christine & her friend to come along.
            </p>
            <p>
                Buoyed up by “welcome shots” & fun music, Carles & Christine began to chat – while in the background his friends ensured that the new girl stayed smiling & engaged in conversation. As the night got later the pair exchanged numbers & determined to keep their conversation – and the natural spark of attraction – going.
            </p>
            <p>
                As spring gave way to summer, the two like-minded souls continued to get to know each other: bonding over bike-rides, beach-days, dinner-dates and many espresso-fueled conversations! Carles introduced Christine to rock-climbing & Catalan culture; while Christine showed Carles Chicago’s nature conservatories & the wonder of Millennium Park concerts. In time they became inseparable, deepening their trust & confidence in each other, and growing together in their commitment to each other.
            </p>
        </div>
        <div class="col-lg-12 lang-cat hidden">
            <h2 class="section-heading text-center">La Nostra Història</h2>
            <hr class="light">
            <p>
                Un grup de gent fantàstica i una nit casual, van portar en Carles i a la Christine a trobar-se per primera vegada. A l’Abril del 2016 cadascú va ser invitat per separat a una festa per una recollida de fons de la “Light and Leadership Initiative”. Amb begudes i entremig d’una subhasta silenciosa, els dos, cadascú amb els seus grups d’amics, s’ho passaven molt bé, aprenent més sobre l’impacte de l’organització a Perú... completament inconscients que, a la mateixa sala es trobava algú molt especial en el seu futur. A mesura que l’esdeveniment anava acabant el grup d’amics d’en Carles, majoritàriament catalans, van preguntar a la Christine i la seva amiga  si volien unir-se al seu grup.
            </p>
            <p>
Amb “xupitos de benvinguda” i música animada, en Carles i la Christine van començar a xerrar, mentre, els amics es van ocupar que la nova noia es mantingués contenta i unida a la conversació del grup. El temps anava passant i alhora de acomiadar-se la parella va intercanviar els seus telèfons i van quedar retrobar la conversació un altre dia – una espurna va surgir entre ells.
            </p>
            <p>
La primavera va donar pas a l’estiu, les dues ànimes afins van continuar coneixent-se: passejades amb bicicleta, dies de platja, sopars i moltes conversacions amb expresso. En Carles va introduir a la Christine a l’escalada i a conèixer la cultura catalana, mentre que la Christine va ensenyar a en Carles els hivernacles de Chicago i els meravellosos concerts a l’aire lliures del Millenium Park. Amb el temps, es van tornar inseparables, d’aquesta manera va anar creixent i enfortint-se el seu compromís, la seva confiança i el seu amor l’un per l’altre.
            </p>
        </div>
    </div>
</div>
