{% load staticfiles %}
<section id="wedding-party" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Bridal Party</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/mary.jpg' %}" class="img-responsive" alt="">
                    <h3>Mary Yasuda</h3>
                    <!-- these text boxes should have a fixed height or it might break tiling -->
                    <p class="lang-eng text-muted">
                        The bride’s original “other half”, these two have shared countless moments, conversations and milestones. In high school they even switched places once (their teachers may not have noticed but their classroom friends did!) Mary studied abroad in Barcelona & taught for a year in Spain after college so it surprised everyone that her sister is now the one marrying a Barcelonian. Mary has an amazing (American) husband & home in Massachusetts which Chris wishes she could visit more frequently. She couldn’t ask for a better confidante & Matron of Honor!
                    </p>
                    <p class="lang-cat hidden text-muted">
                        “L’altra meitat" verdadera de la núvia, les dues han compartit molts moments, converses i metes. A l'escola secundària fins i tot van canviar una vegada de lloc (és possible que els seus mestres no ho notessin, però sí els seus amics de classe!) Mary va estudiar a l'estranger a Barcelona i va ensenyar durant un any a Espanya després de la universitat, així que va ser una sorpresa que la seva germana és ara la que es casa amb un barceloní. Mary té un marit increïble (americà) i una llar a Massachusetts que Chris desitjaria que poguessin anar a visitar amb més freqüència. No podia demanar una millor confident i Dama d'Honor!
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/kerry.jpg' %}" class="img-responsive" alt="">
                    <h3>Kerry Ann Dobies</h3>
                    <p class="lang-eng text-muted">
                        From Barbie dolls & Girl Scouts to study abroad and beyond, Kerry has always taken her role as big sister seriously - in anything from makeovers to French lessons - and she paved a very bright path for her little twin sisters growing up! Chris is grateful for all she has learned from Kerry throughout the years & admires her faith and forthrightness. The two stay close through visits to their respective cities - Chicago & Washington, DC. A favorite shared pastime might be sampling fine wines & gelatos, a good life lesson after all those French sessions!
                    </p>
                    <p class="lang-cat hidden text-muted">
                        Des de jugar juntes a les Barbie i les noies escoltes a estudiar a l'estranger i més enllà, Kerry sempre s'ha pres seriosament el seu paper de germana gran, en qualsevol àmbit, des de canvis de look fins a classes de francès. Va deixar un brillant camí perquè les seves germanetes bessones creixéssin! Chris està agraïda per tot el que ha après de Kerry al llarg dels anys i admira la seva fe i honestedat. Les dues romanen en contacte a través de visites a les seves respectives ciutats: Chicago i Washington DC. El seu passatemps compartit i favorit són els tasts de vins i gelats, una bona lliçó de vida després de totes aquestes sessions de francès!
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/magda.jpg' %}" class="img-responsive" alt="">
                    <h3>Magda Figuerola</h3>
                    <p class="lang-eng text-muted">
                        Carles's sister Magda has always extended an extra warm & enthusiastic welcome to Christine during family trips & on the couple’s visits ‘back home’ to Barcelona. Exuberant, artistic, and lively are words that come to mind to describe Magda. Carles & Christine are so grateful for her talented design eye, which serves her well both professionally (as an award winner in UX / user design) & personally (designing our wedding invitations, table markers, and menu cards!) She currently lives in Cambridge, UK and has a reputation for hosting the best parties there!
                    </p>
                    <p class="lang-cat hidden text-muted">
                        La germana d’en Carles, Magda, sempre ha brindat una càlida i magnífica rebuda a la Christine durant els viatges familiars i en les visites "de tornada a casa" a Barcelona. Entusiasta, creativa i alegre són paraules que vénen a la ment per descriure a la Magda. Carles i Christine estan molt agraïts pel seu talent en el disseny, que li serveix tant professionalment (guanyadora d’un premi en UX / experiència d'usuari) com personalment (dissenyant les nostres invitacions de casament, marcadors de taula i targetes de menú!). Actualment viu a Cambridge, Regne Unit i té una reputació de ser la planejadora de les millors festes de la ciutat!
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/jamie.jpg' %}" class="img-responsive" alt="">
                    <h3>Jamie Garcia</h3>
                    <p class="lang-eng text-muted">
                        Christine & Jamie went from strangers to friends rather quickly when they met at a local book group in 2011. Realizing how much they had in common - both were new to Chicago & living in Lakeview, both were from the East Coast from families with Catholic & Irish heritage, both had a general thirst for adventure - it was easy to find reasons to hang out! Wine-nights, shared Thanksgivings, trips to Art Prize and salsa dancing at Cubby Bear helped their friendship solidify through the years.
                        In August of 2017 Jamie gave birth to beautiful twin girls, and we expect both Emily & Caitlyn to be strong book club members one day...once they learn how to read!
                    </p>
                    <p class="lang-cat hidden text-muted">
                        Christine i Jamie van passar de desconegudes a amigues ràpidament quan es van conèixer en un club de lectura el 2011. En adonar-se del molt que tenien en comú era fàcil trobar raons per passar l'estona juntes. Les dues eren nouvingudes a Chicago i vivien en Lakeview, eren de la Costa Est, de famílies catòliques, d’ascendència irlandesa i les dues amb moltes ganes d'aventures. Les nits de vi, compartint el dia d’Acció de Gràcies, els viatges a l'Art Price i els balls de salsa al Cubby Bear van ajudar a consolidar la seva amistat a través dels anys.
                        A l'agost de 2017, Jamie va donar a llum a unes bessones precioses, i esperem que Emily i Caitlyn siguin membres del club de lectura algun dia ... una vegada que aprenguin a llegir!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="wedding-party">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Groomsmen</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/oriol.jpg' %}" class="img-responsive" alt="">
                    <h3>Oriol Caudevilla</h3>
                    <p class="lang-eng text-muted">
                        Uri and Carles both attended UPC in Barcelona, although they did not become close until the two moved to Chicago in 2012 to do thesis work at IIT (Illinois Institute of Technology). Uri can be credited with several of Carles's more recent interests, including rock climbing, beer drinking, and getting to know Christine. Relaxed and easy going are words which define Uri, although as a recent PhD graduate you can't deny that a lot of work, determination, and ambition also lie beneath his ever-calm exterior. Thus, the perfect recipe for a best man!
                    </p>
                    <p class="lang-cat hidden text-muted">
                        Uri i Carles van estudiar a la UPC a Barcelona, tot i que no es van fer amics fins que els dos es van mudar a Chicago el 2012 per realitzar un treball de tesi a la IIT (Institut de Tecnologia d'Illinois). A l’Uri se li pot acreditar alguns dels hobbies més recents d’en Carles, incloent l'escalada, beure cervesa i conèixer a la Christine. Relaxat i tranquil són paraules que defineixen a l’Uri, encara que, com recent graduat de doctorat no pot es pot negar que sota del seu exterior tranquil també es troba una persona treballadora i ambiciosa. Una recepta perfecta per ser padrí!
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/jim.jpg' %}" class="img-responsive" alt="">
                    <h3>Jim Bethune</h3>
                    <p class="lang-eng text-muted">
                        With his signature sarcastic banter, Jim has taught Carles many important lessons about American culture and more specifically Chicago lore. He mixes a mean cocktail and interviewed Carles for his first "grown up" job at Orbitz back in 2014. From that point on Carles knew he had found a lifelong friend by Jim's kind and welcoming demeanor. You can find Jim and Carles together on the walls at Brooklyn Boulders or sampling a new beer at Revolution Brewing.
                    </p>
                    <p class="lang-cat hidden text-muted">
                        Amb el seu inconfusible humor sarcàstic, Jim li ha ensenyat a Carles moltes lliçons importants sobre la cultura nord-americana, i més específicament, les tradicions de Chicago. Va entrevistar a Carles per al seu primer treball de "adult" a Orbitz el 2014. Des d'aquest moment, Carles va saber que havia trobat un amic de tota la vida gràcies a l'amable i acollidor caràcter de Jim. Podeu trobar a Jim i Carles junts a les parets del rocòdrom Brooklyn Boulders o provant una nova cervesa al Revolution Brewing.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/jordi.jpg' %}" class="img-responsive" alt="">
                    <h3>Jordi Palà</h3>
                    <p class="lang-eng text-muted">
                        Like Carles, Jordi is an IT Engineer from Barcelona, but the two share much more than just resume bullets! Friends since ESO (middle school), Jordi & Carles have many shared milestones, including purchasing the same model motorcycle when they were both 22 - a Yamaha YBR250. Shortly after moving to the US, Carles remembers his ever-reliable friend Jordi keeping him company for hours at a time online hanging out, playing online games and making sure Jordi was awake during his long shifts. Conveniently, Jordi was then working a Spanish night shift so their schedules aligned pretty well despite the many kilometers and hours between them. Carles admires Jordi for always giving his all in whatever he sets his mind to. 
                    </p>
                    <p class="lang-cat hidden text-muted">
                        Igual que en Carles, en Jordi és un enginyer de telecomunicacions de Barcelona, però els dos comparteixen molt més que el seu currículum! Amics des de l'ESO, Jordi i Carles tenen una història compartida, inclòs la compra de la mateixa motocicleta quan tenien 22 anys, una Yamaha YBR250. Poc després de mudar-se als Estats Units, Carles sempre recorda el seu fidel amic Jordi, que el va acompanyar durant hores i hores en línia, jugant online i assegurant-se que en Jordi estigués despert durant els seus llargs torns. Convenientment, Jordi estava treballant en un torn de nit a Espanya, pel que feia que els seus horaris coincidien força bé malgrat els molts quilòmetres i hores que els separaven. Carles admira en Jordi perquè sempre ha donat el millor de sí en tot el que es proposa.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/marc.jpg' %}" class="img-responsive" alt="">
                    <h3>Marc Taribó</h3>
                    <p class="lang-eng text-muted">
                        Carles and Marc first bonded in their early teens playing countless hours of Metal Slug and other arcade games together. Travelling together for their middle school French class trips to Avignon and Carcassonne cemented in Carles's mind how FUN Marc is (and taught them both how to sneak a gameboy past the teacher's surveillance)! Marc continues to travel widely with his girlfriend, and although he and Carles now live far apart, they cherish the holidays when they do overlap in Barcelona. They keep their playful spirits alive, most recently for an indoor snow tubing adventure together with friends.
                    </p>
                    <p class="lang-cat hidden text-muted">
                        Carles i Marc es van conèixer en la seva adolescència jugant moltes hores junts al Metal Slug i altres jocs arcade. Durant els seus viatges de classe de francès a Avignon i Carcassonne Carles va tenir clar lo divertit que és en Marc (i els va ensenyar als dos com amagar una gameboy sense que el profe s'assabentés!). Marc segueix viatjant molt amb la seva nòvia, i encara que ell i en Carles ara viuen molt separats, fan el possible per trobar-se durant les vacances quan coincideixen a Barcelona. Continuen amb ganes de jugar, com recentment van demostrar durant una aventura de “snow tubing” amb amics.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
