{% load staticfiles %}
<section id="wedding-party" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Bridal Party</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/jamie.jpg' %}" class="img-responsive" alt="">
                    <h3>Maid of Honor</h3>
                    <!-- these text boxes should have a fixed height or it might break tiling -->
                    <p class="text-muted">{% lorem 20 w random %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/mary.jpg' %}" class="img-responsive" alt="">
                    <h3>Bridesmaid #2</h3>
                    <p class="text-muted">{% lorem 20 w random %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/kerry.jpg' %}" class="img-responsive" alt="">
                    <h3>Bridesmaid #3</h3>
                    <p class="text-muted">{% lorem 20 w random %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/magda.jpg' %}" class="img-responsive" alt="">
                    <h3>Bridesmaid #4</h3>
                    <p class="text-muted">{% lorem 20 w random %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="wedding-party">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Groomsmen</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/oriol.jpg' %}" class="img-responsive" alt="">
                    <h3>Best Man</h3>
                    <p class="text-muted">{% lorem 20 w random %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/jim.jpg' %}" class="img-responsive" alt="">
                    <h3>Groomsman #2</h3>
                    <p class="text-muted">{% lorem 20 w random %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/jordi.jpg' %}" class="img-responsive" alt="">
                    <h3>Groomsman #3</h3>
                    <p class="text-muted">{% lorem 20 w random %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/marc.jpg' %}" class="img-responsive" alt="">
                    <h3>Groomsman #4</h3>
                    <p class="text-muted">{% lorem 20 w random %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
