<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="lang-eng section-heading">Welcome!</h2>
            <h2 class="lang-cat hidden section-heading">Benvinguts!</h2>
            <hr class="light">
            <p class="lang-eng">
                Please tap on the pictures below or scroll down for details on our wedding celebration!
            </p>
            <p class="lang-cat hidden">
                Toqueu les fotografies d'aquí baix o desplaceu-vos cap avall per veure més detalls sobre el nostre casament!
            </p>
            <br>
        </div>          
    </div>
</div>

