{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="lang-eng navbar-brand page-scroll" href="#page-top">Carles and Christine</a>
                <a class="lang-cat hidden navbar-brand page-scroll" href="#page-top">Carles i Christine</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
			    <a class="mock-link enable-catalan" onclick="setLanguage('cat');"><img class="enable-catalan" src="/static/bigday/images/cat15.png" /></a>
                    </li>
                    <li>
			    <a class="mock-link enable-english" onclick="setLanguage('eng');"><img class="enable-english" src="/static/bigday/images/eng15.png" /></a>
                    </li>
                    <!--<li>
                        <a class="lang-eng page-scroll" href="#main-header">Home</a>
                        <a class="lang-cat hidden page-scroll" href="#main-header">Inici</a>
                    </li>-->
                    <li>
                        <a class="lang-eng page-scroll" href="#event">Overview</a>
                        <a class="lang-cat hidden page-scroll" href="#event">Resum</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#chicago">Chicago</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rsvp">RSVP</a>
                    </li>
                    <li>
                        <a class="lang-eng page-scroll" href="#gallery">Gallery</a>
                        <a class="lang-cat hidden page-scroll" href="#gallery">Galeria</a>
                    </li>
                    <li>
                        <a class="lang-eng page-scroll" href="#registry">Registry</a>
                        <a class="lang-cat hidden page-scroll" href="#registry">Registre</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block main %}
    <header id="main-header">
        <div class="header-content">
            <div class="header-content-inner">
		{% comment %}
                <h1></h1>
                <hr>
                <h2>It's wedding week!</h2>
                <a href="#welcome" class="btn btn-info btn-xl page-scroll">Welcome</a>
                <a href="#event" class="btn btn-primary btn-xl page-scroll">Friday</a>
                <a href="#saturday-event" class="btn btn-success btn-xl page-scroll">Saturday</a>
		{% endcomment %}
            </div>
        </div>
    </header>
    <section class="bg-primary" id="welcome">
        {% include 'partials/welcome.html' %}
    </section>
    <section class="no-padding" id="navigation">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#event" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/event-nav.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="lang-eng project-name">
                                    Overview
                                </div>
                                <div class="lang-cat hidden project-name">
                                    Resum
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#st-clement" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/st-clement-nav.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="lang-eng project-name">
                                    St. Clement
                                </div>
                                <div class="lang-cat hidden project-name">
                                    St. Clement
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#dank-haus" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/dank-haus-nav.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="lang-eng project-name">
                                    DANK Haus 
                                </div>
                                <div class="lang-cat hidden project-name">
                                    DANK Haus
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#chicago" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/chicago-nav.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Chicago
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#accomodations" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/accomodations-nav.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="lang-eng project-name">
                                    Accomodations
                                </div>
                                <div class="lang-cat hidden project-name">
                                    Acomodacions
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#story" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/our-story-nav.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="lang-eng project-name">
                                    Our Story
                                </div>
                                <div class="lang-cat hidden project-name">
                                    La nostra història
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/event.html' %}
    <section id="st-clement">
        {% include 'partials/st-clement.html' %}
    </section>
    <section id="dank-haus" class="bg-info">
        {% include 'partials/dank-haus.html' %}
    </section>
    {% comment %}<section id="other-stuff" class="bg-primary">
        {% include 'partials/misc.html' %}
    </section>{% endcomment %}
    <section id="chicago" class="">
        {% include 'partials/chicago.html' %}
    </section>
    <section id="story" class="bg-primary">
        {% include 'partials/story.html' %}
    </section>
    <section id="proposal">
        {% include 'partials/proposal.html' %}
    </section>
    <section id="gallery" class="bg-info">
        <div class="container">
        <div class="row text-center">
            <div class="lang-eng">
                <a href="https://photos.app.goo.gl/G3YwytSn2pe5cL278"><i class="fa fa-images fa-4x"></i></a>
                <p>
                <a href="https://photos.app.goo.gl/G3YwytSn2pe5cL278">Click here to see some pictures</a>
                </p>
            </div>
            <div class="col-lg-12 col-md-12 lang-cat hidden">
                <i class="fa fa-images fa-4x"></i>
                <p>
                    Click here to see some pictures
                </p>
            </div>
        </div>
        </div>
    </section>
        {% include 'partials/wedding-party.html' %}
    <section id="registry" class="bg-info">
        {% include 'partials/registry.html' %}
    </section>
    <section id="contact" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact us!</h2>
                    <hr class="primary">
                    <p>If you have any questions don't hesitate to reach out!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:{{support_email}}"><i class="far fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                    <p><a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
